
<h2> You are in the group named: <span class="capital"><%= group.group_name %></span></h2>
<section class="row">
  <div class="span6 offset3">
    <form method='POST'>
      <input type='text' name='message' placeholder='go on, post something here' />
      <button class="btn btn-primary">Post</button>
    </form>
  </div>
</section>


<section class="row">
  <div class="span6 offset3 posts">
    <section class="your-posts">
  <h4>Your Posts</h4>
<ul>
  <% posts.each do |post| %>
    <li><h4><%= post.content %></h4>
    <p><%= post.created_at %></p>
    <p>
      <form method='POST' action='/groups/<%= group.url%>/delete_post'>
        <input type='hidden' name='post_id' value='<%=post._id%>'>
        <button class="btn">Delete</button>
      </form>
    </p>
    <p>___________________________________________________________________</p></li>
  <% end %>
</ul>
</section>
  </div>
</section>